# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2023-present Team LibreELEC (https://libreelec.tv)
# Copyright (C) 2026-present AlistGo (https://github.com/AlistGo)
#
# Derived from the LibreELEC/CoreELEC service.filebrowser add-on.

[Unit]
Description=AList Service
After=network-online.service

[Service]
Type=exec
ExecStart=/storage/.kodi/addons/service.alist/bin/alist.start
TimeoutStopSec=5
Restart=always
RestartSec=5
StartLimitInterval=0
SuccessExitStatus=143

[Install]
WantedBy=kodi.target
